@use './Variables.scss';

.footer {
    @extend %flex-container;
    align-items: center;
    border-top: 1px solid #E9ECF0;
    flex-direction: column;
    justify-content: center;
    padding-top: 38px;

    .api-desc-wrapper {
        align-items: center;
        display: flex;
        flex-direction: column;
        text-align: justify;
        
        .body {
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 16px;
            height: 48px;
            width: 313px;
        }

        .link {
            border: 2px solid;
            border-radius: 30px;
            box-sizing: border-box;
            display: block;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            height: 48px;
            line-height: 2.5;
            text-align: center;
            width: 220px;
        }
    }
    .social-wrapper {
        margin-top: 33px;

        .hide-in-small-scr {
            display: none;
        }
    }
    p{
        font-weight: 500;
        font-size: 14px;
        line-height: 115.6%;
    }
}