@use './Variables.scss';

.header {
    @extend %flex-container;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E9ECF0;

    .dark-mode-switch {
        margin-right: 25px;
    }
}