.not-found-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    

    p {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        text-align: justify;
        margin: 0;
    }

    h1 {
        font-style: normal;
        font-weight: 600;
        font-size: 164px;
        line-height: 198px;
        margin: 0;
    }

    h4 {
        font-style: italic;
        font-weight: normal;
        font-size: 36px;
        line-height: 44px;
        margin: 0;
    }

    button {
        border: 2px solid #000000;
        box-sizing: border-box;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        width: 205px;
    }
}